{% extends 'base.html' %}

{% block title %}Employee Home{% endblock %}

{% block content %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Employee Home
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                {% if companies %}
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                        <tr>
                            <td>
                                {{ company.name }}
                            </td>
                            <td>
                                <a class="btn push-right" href="{% url 'feedback' company.id %}">Enter Feedback &gt;</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
