{% extends 'base.html' %}
{% load staticfiles widget_tweaks thumbnail %}

{% block title %}
Enter Feedback
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
<div class="row-fluid">
    <div class="col-sm-4">
        <h3>{{ company.name }}</h3>
    </div>
    <div class="col-sm-4">
    <h4>{{ company.tagline }}</h4>
    </div>
    <div class="col-sm-4">
    {% thumbnail company.logo "48x48" crop="left" as img %}
        <img src="{{ img.url }}" alt="{{ company.name }}">
    {% endthumbnail %}
    </div>
</div>
</div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Enter Feedback
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="feedback-form" action="{% url 'feedback' company.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="company" value="{{ company.id }}">
                    <div class="form-group required">
                        <label for="id_first_name" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-9">
                            {{ form.first_name.errors }}
                            {{ form.first_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:First Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_last_name" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-9">
                            {{ form.last_name.errors }}
                            {{ form.last_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:Last Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_phone_number" class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-9">
                            {{ form.phone_number.errors }}
                            {{ form.phone_number|attr:"class:form-control"|attr:"required"|attr:"placeholder:Phone Number"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_comment" class="col-sm-2 control-label">Comment:</label>
                        <div class="col-sm-9">
                            {{ form.comment.errors }}
                            {{ form.comment|attr:"class:form-control"|attr:"required"|attr:"placeholder:Comment"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-company-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 