<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock %} | Customer Feedback Web App</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
        <link rel="stylesheet" href="{% static 'js/messenger/css/messenger.css' %}">
        <link rel="stylesheet" href="{% static 'js/chosen/chosen.min.css' %}">
        <link href="{% static "js/messenger/css/messenger-theme-air.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'login-page' %}">Company Feedback</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="#">Signed in as {{ request.user }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/messenger/js/messenger.min.js' %}"></script>
    <script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
    <script>
    {% if messages %}
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-top',
            theme: 'air'
        }
        window.onload = function () {
            {% for message in messages %}
                Messenger().post({
                    message: '{{ message|safe|addslashes }}',
                    type: '{{ message.tags }}',
                    showCloseButton: true
                });
            {% endfor %}
        }
    {% endif %}
    $('.chosen-select').chosen();
    $('.comment-popover').popover();
    </script>
    {% block script %}
    {% endblock %}
    </body>
</html>
