{% extends 'base.html' %}

{% block title %}Admin Companies{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Manage Companies
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row-fluid">
                    <a class="btn btn-primary push-right" href="{% url 'create-company' %}">Create Company</a>
                </div>
                {% if companies %}
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                        <tr>
                            <td>
                                {{ company.name }}
                            </td>
                            <td>
                                <a class="btn push-right" href="{% url 'feedback-company' company.id %}">View Feedback</a>
                            </td>
                            <td>
                                <a class="btn push-right" href="{% url 'edit-company' company.id %}">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}