{% extends 'base.html' %}

{% block title %}Home Admin{% endblock %}

{% block content %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Admin Home
            </h4>
        </div>
        <div id="create-user-profile-panel" class="panel">
            <div class="panel-body">
                <a class="btn" href="{% url 'admin-companies' %}">Manage Companies</a>
                <a class="btn" href="{% url 'admin-employees' %}">Manage Employees</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}