{% extends 'base.html' %}

{% block title %}Admin Employees{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Manage Employees
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row-fluid">
                    <a class="btn btn-primary push-right" href="{% url 'create-employee' %}">Create Employee</a>
                </div>
                {% if employees %}
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>
                                {{ employee.user.get_full_name }}
                            </td>
                            <td>
                                <a class="btn push-right" href="{% url 'assign-companies' employee.id %}">Assign Companies</a>
                            </td>
                            <td>
                                <a class="btn push-right" href="{% url 'edit-employee' employee.id %}">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
