{% extends 'base.html' %}

{% block title %}
Assign Companies
{% endblock %}

{% block content %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Assign Companies to {{ employee.user.get_full_name }}
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="assign-companies-form" action="{% url 'assign-companies' employee.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group required">
                        <label for="id_companies" class="col-sm-2 control-label">Companies:</label>
                        <div class="col-sm-9">
                            <select id="id_companies" name="companies" class="chosen-select" multiple="true">
                                {% for company in companies %}
                                <option value="{{ company.id }}" {% if company.id in assigned_companies %} selected {% endif %}>{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-company-btn">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
