{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Company Feedback [ {{ company.name }} ]
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                {% if feedbacks %}
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Comment
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>
                                {{ feedback.first_name }}
                            </td>
                            <td>
                                {{ feedback.last_name }}
                            </td>
                            <td>
                                {{ feedback.phone_number }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default comment-popover" data-container="body" data-toggle="popover" data-placement="left" data-content="{{ feedback.comment }}">
                                View Comment
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %} 