{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block title %}
Create Employee
{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Create Employee
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="create-company-form" action="{% url 'create-employee' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group required">
                        <label for="id_first_name" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-9">
                            {{ form.first_name.errors }}
                            {{ form.first_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:First Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_last_name" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-9">
                            {{ form.last_name.errors }}
                            {{ form.last_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:Last Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_username" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-9">
                            {{ form.username.errors }}
                            {{ form.username|attr:"class:form-control"|attr:"required"|attr:"placeholder:Username"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-9">
                            {{ form.email.errors }}
                            {{ form.email|attr:"class:form-control"|attr:"required"|attr:"placeholder:Email"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_password" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-9">
                            {{ form.password.errors }}
                            {{ form.password|attr:"class:form-control"|attr:"required"|attr:"placeholder:Password"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-company-btn">Create Employee</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 