{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block title %}
Create Company
{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Create Company
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="create-company-form" action="{% url 'create-company' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group required">
                        <label for="id_name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-9">
                            {{ form.name.errors }}
                            {{ form.name|attr:"class:form-control"|attr:"required"|attr:"placeholder:Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_tagline" class="col-sm-2 control-label">Tagline:</label>
                        <div class="col-sm-9">
                            {{ form.tagline.errors }}
                            {{ form.tagline|attr:"class:form-control"|attr:"placeholder:Tagline"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_logo" class="col-sm-2 control-label">Logo:</label>
                        <div class="col-sm-9">
                            {{ form.logo.errors }}
                            {{ form.logo|attr:"class:form-control"|attr:"placeholder:Logo"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_description" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-9">
                            {{ form.description.errors }}
                            {{ form.description|attr:"class:form-control"|attr:"placeholder:Description"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-company-btn">Create Company</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
