{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block script %}
<script>
$('.delete-employee').on(
            'click',
            function(evt)
            {
                evt.preventDefault();
                var $this = $(this), name = $this.data('employeename'), href=$this.data('employeeurl');
                
                bootbox.confirm(
                    'Are you sure you want to delete the Employee: <strong>' + name + '</strong> ?',
                    function(result)
                    {
                        if(result)
                        {
                            window.location = href;
                        }
                    }
                );
            }
        );
</script>
{% endblock %}

{% block title %}
Edit Employee
{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Edit Employee
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="edit-employee-form" action="{% url 'edit-employee' employee.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group required">
                        <label for="id_first_name" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-9">
                            {{ form.first_name.errors }}
                            {{ form.first_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:First Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_last_name" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-9">
                            {{ form.last_name.errors }}
                            {{ form.last_name|attr:"class:form-control"|attr:"required"|attr:"placeholder:Last Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_username" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-9">
                            {{ form.username.errors }}
                            {{ form.username|attr:"class:form-control"|attr:"required"|attr:"placeholder:Username"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-9">
                            {{ form.email.errors }}
                            {{ form.email|attr:"class:form-control"|attr:"required"|attr:"placeholder:Email"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-employee-btn">Save Changes</button>
                        <button data-employeename="{{ employee.user.first_name }}"  data-employeeurl="{% url 'delete-employee' employee.id %}" type="submit" class="btn btn-danger delete-employee" id="del-employee-btn">Delete Employee</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  
