{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block script %}
<script>
$('.delete-company').on(
            'click',
            function(evt)
            {
                evt.preventDefault();
                var $this = $(this), name = $this.data('companyname'), href=$this.data('companyurl');
                
                bootbox.confirm(
                    'Are you sure you want to delete the Company: <strong>' + name + '</strong> ?',
                    function(result)
                    {
                        if(result)
                        {
                            window.location = href;
                        }
                    }
                );
            }
        );
</script>
{% endblock %}

{% block title %}
Edit Company
{% endblock %}

{% block content %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    Edit Company
            </h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" id="create-company-form" action="{% url 'edit-company' company.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group required">
                        <label for="id_name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-9">
                            {{ form.name.errors }}
                            {{ form.name|attr:"class:form-control"|attr:"required"|attr:"placeholder:Name"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_tagline" class="col-sm-2 control-label">Tagline:</label>
                        <div class="col-sm-9">
                            {{ form.tagline.errors }}
                            {{ form.tagline|attr:"class:form-control"|attr:"placeholder:Tagline"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_logo" class="col-sm-2 control-label">Logo:</label>
                        <div class="col-sm-9">
                            {{ form.logo.errors }}
                            {{ form.logo|attr:"class:form-control"|attr:"placeholder:Logo"}}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="id_description" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-9">
                            {{ form.description.errors }}
                            {{ form.description|attr:"class:form-control"|attr:"placeholder:Description" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="create-company-btn">Save Changes</button>
                        <button data-companyname="{{ company.name }}"  data-companyurl="{% url 'delete-company' company.id %}" type="submit" class="btn btn-danger delete-company" id="del-company-btn">Delete Company</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
 
