<!doctype html>
{% load widget_tweaks staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | Customer Feedback Web App</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
        <link rel="stylesheet" href="{% static 'js/messenger/css/messenger.css' %}">
        <link href="{% static "js/messenger/css/messenger-theme-air.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'login-page' %}">Company Feedback</a>
                </div>
            </div>
        </nav>
        <div id="login-form-container">
            <form role="form" action="{% url 'login-page' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.errors }}
                    <label for="id_username">Username:</label>
                    {{ form.username|attr:"required"|attr:"class:form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    <label for="id_password">Password:</label>
                    {{ form.password|attr:"required"|attr:"class:form-control" }}
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/messenger/js/messenger.min.js' %}"></script>
    <script>
    {% if messages %}
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-top',
            theme: 'air'
        }
        window.onload = function () {
            {% for message in messages %}
                Messenger().post({
                    message: '{{ message|safe|addslashes }}',
                    type: '{{ message.tags }}',
                    showCloseButton: true
                });
            {% endfor %}
        }
    {% endif %}
    </script>
    </body>
</html>
